div.content{
    width: 100%;
    height: 100%;
    display: flex;
}


line.link {
    fill: none;
    stroke: gray;
    stroke-width: 3;
    stroke-dasharray: 1;
    /*.style("stroke", d=>d.value < 1 ? "gray" : "green")*/
    /*.style("stroke-width", d=>d.value < 1 ? 3 : 1)*/
    /*stroke-dasharray: 1;*/
}

circle {
    fill: #ccc;
    /*stroke: #fff;*/
    stroke: black;
    stroke-width: 1.5px;
}

.frozen {
    stroke: darkgray;
    stroke-width: 5px;
    stroke-dasharray: 1;
}

text {
    fill: #000000;
    font: 10px sans-serif;
    pointer-events: none;
    font-weight: bold;
}
text.shadowed {
    text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;
    font: 10px sans-serif;
}
.--visible {visibility: visible;}
.--hidden {visibility: hidden;}

div#nodetip {
    background-color: #292525;
    color: whitesmoke;
    font-family: sans-serif;
    line-height: normal;
    border-radius: 5px;
    grid-row: 3;
    margin: 10px 0 10px 0;
    word-wrap: break-word;
}

ul.bulletless {
    list-style-type: none;
    padding: 10px;
    margin: 5px;
    font-size: smaller;
    word-wrap: break-word;

}

div.spiderchart {
    background-color: #292525;
    /*margin: 0 0 0 10px;*/

}
.spiderchart text.axisLabel {
    fill: whitesmoke;
}
.spiderchart text.legend {
    fill: whitesmoke;
}
.spiderchart text.tooltip {
    fill: lawngreen;
}


div.control-panel {
    display: inline-grid;
    grid-template-rows:  1fr 3fr 10fr 1fr; /*1fr 5fr 5fr 1fr;*/
    grid-auto-columns: minmax(auto,300px);
    grid-gap: 10px 0;
    float: left;
    background-color: lightgray;
    /*border-radius: 3px;*/
    /*width: 20%;*/
    /*height: inherit;*/
    padding: 10px;
    margin: 15px 5px 5px 5px;
    border: solid black 1px;
    box-sizing: border-box;
}
div.banner{
    grid-row: 1;
    text-align: center;
    font-size: 1.25rem;
    padding-bottom: 5px;
}
div.sliders{
    grid-row: 2;
}
div.search{
    grid-row: 4;

}
.search > label{
    display: block;
}

div.svg-container {
    display: inline-block;
    width: 75%;
}

/*div.svg-container {*/
/*    float: left;*/
/*    display: inline-block;*/
/*    position: relative;*/
/*    width: 100%;*/
/*    padding-bottom: 100%;*/
/*    vertical-align: top;*/
/*    overflow: hidden;*/
/*}*/
/*.svg-content {*/
/*    display: inline-block;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*}*/